/* GLOBAL
========================================= */

html {
    background-color: #fff;
    font-family: 'Sansita Swashed', cursive;
}


h1,
h2,
h3,
h4 {
    font-family: 'Cormorant Garamond', serif;
    text-transform: uppercase;
    letter-spacing: -1px;
    font-weight: 300;
    word-spacing: 8px;
}

h1 {
    color: #000000;
}

h2 {
    color: #333333;
    font-size: 250%;
    text-align: center;
    margin-top: 40px;
    margin-bottom: 30px;
}

h2:after {
    display: block;
    height: 2px;
    background-color: #911c00;
    width: 180px;
    content: " ";
    margin: 0 auto;
    margin-top: 10px;
}

h3 {
    font-size: 160%;
}

p {
    font-family: 'Dancing Script', cursive;
    font-size: 12px;
    font-weight: 300;
    line-height: 24px;
}

section {
    padding: 30px 0 60px 0;
}


/* MENU
========================================= */

.fixed-top {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1030;
    background-color: #911c00 !important;
    display: flex;
    justify-content: center;
}

nav {
    align-self: center;
    color: white;
    height: 50px;
}

nav ul {
    display: flex;
    flex-direction: row;
    align-self: center;
}

nav a {
    color: white;
    text-decoration: none;

}

nav ul li {
    list-style-type: none;
    padding: 15px;
}

.Langage_website {
    margin-top: 2%;
    display: flex;
    justify-content: flex-end;
}

.english_website {
    margin-right: 2%;
    margin-left: 1%;
    box-shadow:0 10px 12px 0 rgb(105, 105, 105),
    10px 0 12px 0 rgb(105, 105, 105),
    0 -10px 12px 0 rgb(105, 105, 105),
    -10px 0 12px 0 rgb(105, 105, 105);
}

.french_website {
    box-shadow:0 10px 12px 0 rgb(105, 105, 105),
    10px 0 12px 0 rgb(105, 105, 105),
    0 -10px 12px 0 rgb(105, 105, 105),
    -10px 0 12px 0 rgb(105, 105, 105);
}

/*ACCUEIL
==============================================*/

#accueil {
    background-image: url(Ressources/ImagesVillaSilvius/vigne7.JPG);
    height: 100vh;
    background-position: center;
    background-size: cover;
}

.home-title {
    position: absolute;
    top: 15%;
    left: 10%;
    display: flex;
    flex-direction: column;
}

.home-title h1 {
    font-size: 400%;
    color: #000000;
    text-shadow: #fff 1px 1px 10px;
}

.home-title h1 span {
    font-weight: 500;
    font-size: 150%;
}

/* PRESENTATION
========================================= */

#presentation {
    background-image: url(Ressources/ImagesVillaSilvius/logopageweb.jpg);
    height: 110vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 40%;
}

#presentationgilles {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    margin-top: 5%;
    margin-left: 5%;
    margin-right: 5%;
}

.gilles-text p {
    font-size: 200%;
    font-weight: 600;
    word-spacing: 2px;
    line-height: 30px;
    letter-spacing: 4px;
    margin-left: 10px;
    margin-right: 10px;
    word-spacing: 2px;
    text-shadow: #fff 5px 5px 10px;
}

.gilles-text p strong {
    color: #11d33e;
}

#gilles img {
    border-radius: 50%;
    width: 30%;
    height: auto;
    margin-top: 5%;
}


/* NOTRE HISTOIRE
========================================= */

#histoire {
    background-image: url(Ressources/ImagesVillaSilvius/assietteminerale.JPG);
    height: 100vh;
    background-position: center;
    background-size: cover;
}

#histoire h2 {
    color: aliceblue;
    margin-top: 0px
}

#contenu-histoire {
    height: 400px;
    margin-top: 30px;
}

.histoire-text p {
    margin-top: 20px;
    font-size: 200%;
    word-spacing: 2px;
    margin-left: 10px;
    margin-right: 10px;
    letter-spacing: 2px;
    word-spacing: 2px;
    line-height: 30px;
    color: #ffffff;
    text-shadow: #000000 1px 1px 10px;
}


/* LE DOMAINE
=========================================== */

#ledomaine {
    background-image: url(Ressources/ImagesVillaSilvius/ventoux.JPG);
    background-size: cover;
    background-attachment: fixed;
    height: 100vh;
    margin-top: 60px;
}

#ledomaine p {
    font-size: 180%;
    font-weight: 600;
    word-spacing: 2px;
    line-height: 30px;
    letter-spacing: 4px;
    margin-top: 40px;
    text-align: center;
    margin-left: 30px;
    margin-right: 30px;
    text-shadow: #000000 1px 1px 10px;
    color: #ffffff;
}

#ledomaine h2 {
    color: #fdfdfd;
}

/* GALERIES PHOTOS
=========================================== */

.galeries-titre {
    position: relative;
    top: 250px;
    left: 16px;
}

.galeries-titre h4 {
    color: #fff;
}

/* NOS VINS
=========================================== */

.vin {
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
    border-radius: 10px;
    margin-bottom: 20px;
    height: 350px;
}

.vin h3 {
    color: black;
    font-weight: 400;
}

.vin h4 {
    font-size: 180%;
    font-weight: 100;
    text-align: center;
}

.vin span {
    font-weight: 100;
    font-size: 40%;
    position: relative;
    top: -15px;
    left: 2px;
}

.vinrose {
    background-color: #911c00;
    color: #fff;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
    border-radius: 10px;
    margin-bottom: 20px;
    height: 350px;
}

.vinrose h4 {
    font-size: 180%;
    font-weight: 100;
    text-align: center;
}

.title {
    padding: 10px 10px 0 10px;
    border-bottom: 1px solid #e3e0e0;
}

.content ul {
    list-style: none;
    padding: 30px;
    font-weight: 300;
    line-height: 35px;
    text-align: center;
    font-size: 120%;
}

.img_vins {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-left: 15%;
    margin-right: 15%;
}

.img_vins img {
    width: 30%;
    border-radius: 10%;
    box-shadow: 10px 10px 5px rgb(156, 156, 156);
}


/* CONTACT
=========================================== */

#contact {
    display: flex;
    flex-direction: row;
}

#contact p {
    font-size: 20px;
    line-height: 2;
    text-align: center;
}

.champs {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 10px;
    justify-content: center;
}

.contact-largeur {
    width: 50%;
    margin-left: 5%;
}

.contact-largeur iframe{
    margin-top: 10%;
    width: 90%;
}

.adress {
    margin-left: 90px;
}

.contact-form1 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-left: 15px;
    margin-bottom: 30px;
}

.contact-form2 {
    padding-left: 15px;
    margin-bottom: 30px;
    display: flex;
    flex-direction: row;
    justify-content: center
}

.contact-message {
    width: 100%;
    margin-top: 10px;
}

.contact-form {
    width: 100%;
    padding: 0 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.btn-contact {
    background-color: #911c00;
    color: #fff;
    margin: 15px;
    border: none;
}

.mention_légal p{
    font-family: 'Cormorant Garamond', serif;
    text-transform: uppercase;
    font-size: 120%;
    text-align: center;
}

/* FOOTER
=========================================== */

footer {
    background-color: #000;
    color: #fff;
    height: 80px;
    padding: 20px 20px;
    text-align: center;
}

footer p {
    font-size: 100%;
}
